<div class="error-cont">
  <p-messages></p-messages>
</div>
<form method="post" [formGroup]="resetForm">
  <i class="fa-solid fa-unlock"></i>
  <h2>Reset Password</h2>
  <div class="field">
    <label for="password" class="block">Password</label>
    <input formControlName="password" id="password" type="password" placeholder="Please enter the password" pInputText />
    <small *ngIf="resetForm?.get('password')?.errors && resetForm?.get('password')?.touched" class="p-error block">Password must contain at least 8 characters</small>
  </div>
  <div class="field">
    <label for="repeat" class="block">Repeat Password</label>
    <input formControlName="re_password" id="repeat" type="password" placeholder="Please enter the password" pInputText />
    <small *ngIf="resetForm.errors?.['noMatch']" class="p-error block">Repeated password does not match</small>
  </div>
  <p-button [disabled]="resetForm.invalid" (click)="resetForm.invalid || onClick()" label="Submit" icon="pi pi-check" iconPos="right"></p-button>
</form>
