main{
  display: flex;
  .sidebar{
    width: 300px;
    min-height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    background-color: #b9b7b7;
    border-right: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    .top{
      background-color: #133967;
      height: 80px;
      width: 100%;
      margin-bottom: 8px;
    }
  }
  .dashboard-sec{
    margin-left: 300px;
    width: calc(100vw - 300px);
    min-height: 100vh;
    background-color: #f3fff4;
    padding: 15px;
    header{
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      margin-bottom: 5px;
      h3{
        font-weight: 700;
        span{
          color: #ee942a;
        }
      }
    }
    > hr{
      display: block;
      height: 3px;
      border: 0;
      border-top: 1px solid #075aaf;
      margin: 1em 0;
      padding: 0;
    }
    .inv-stats{
      display: flex;
      width: 100%;
      .items{
        width: 150px;
        height: 60px;
        border-radius: 5px;
        box-shadow: 4px 4px 10px 1px rgba(0,0,0,0.4);
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        margin-right: 10px;
        i{
          font-size: 30px;
          color: #ffffff;
        }
        div{
          color: #ffffff;
          p{
            font-size: 20px;
            font-weight: 700;
          }
        }
        &.tp{
          background-color: #e128e1;
        }
        &.tsv{
          background-color: #1bb230;
        }
        &.out{
          background-color: #da2f2f;
        }
        &.all{
          background-color: #49c6d2;
        }
      }
    }
    .card{
      .actions-part{
        height: 120px;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        i{
          font-size: 20px;
          border-radius: 50%;
          padding: 5px;
          transition-duration: 0.5s;
          cursor: pointer;
          margin: 2.5px;
          &.fa-pencil{
            color: #5e5efc;
            border: 3px solid #5e5efc;
            &:hover{
              background-color: #0f6ebd;
              color: #ffffff;
              transform: scale(1.5);
            }
          }
          &.fa-trash-can{
            color: #fd4343;
            border: 3px solid #fd4343;
            &:hover{
              background-color: #fd4343;
              color: #ffffff;
              transform: scale(1.5);
            }
          }
        }
      }
    }
  }
}
