<main>
  <div class="sidebar">
    <div class="top"></div>
    <app-navigation></app-navigation>
  </div>
  <section class="dashboard-sec">
    <header>
      <h3>Welcome, <span>{{user.name}}.</span></h3>
      <button pButton pRipple type="button" label="Log Out" class="p-button-raised p-button-danger"></button>
    </header>
    <hr>
    <div class="inv-stats">
      <div class="items tp">
        <i class="pi pi-shopping-cart"></i>
        <div>
          <h6>Total Products</h6>
          <p>10</p>
        </div>
      </div>
      <div class="items tsv">
        <i class="pi pi-dollar"></i>
        <div>
          <h6>Total Store Value</h6>
          <p>5,000 $</p>
        </div>
      </div>
      <div class="items out">
        <i class="pi pi-sign-out"></i>
        <div>
          <h6>Out Of Stock</h6>
          <p>3</p>
        </div>
      </div>
      <div class="items all">
        <i class="pi pi-microsoft"></i>
        <div>
          <h6>All Categories</h6>
          <p>3</p>
        </div>
      </div>
    </div>
    <div class="card">
      <p-table [value]="allProduct" [tableStyle]="{'min-width': '60rem'}">
        <ng-template pTemplate="header">
          <tr>
            <th pSortableColumn="name" style="width:20%">Name <p-sortIcon field="name"></p-sortIcon></th>
            <th pSortableColumn="image" style="width:20%">Image </th>
            <th pSortableColumn="category" style="width:20%">Category <p-sortIcon field="category"></p-sortIcon></th>
            <th pSortableColumn="quantity" style="width:20%">Quantity <p-sortIcon field="quantity"></p-sortIcon></th>
            <th pSortableColumn="price" style="width:20%">Price <p-sortIcon field="price"></p-sortIcon></th>
            <th pSortableColumn="description" style="width:20%">Description <p-sortIcon field="description"></p-sortIcon></th>
            <th pSortableColumn="actions" style="width:20%">Actions </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-product>
          <tr>
            <td>{{product.name}}</td>
            <td><img width="150" height="80" src="{{product.image.filePath}}"></td>
            <td>{{product.category}}</td>
            <td>{{product.quantity}}</td>
            <td>{{product.price | currency: 'USD'}}</td>
            <td>{{product.description}}</td>
            <td class="actions-part">
              <i class="fa-solid fa-pencil"></i>
              <i class="fa-regular fa-trash-can"></i>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </section>
</main>

