<main>
  <header>
    <nav>
      <button class="reg-btn">Register</button>
      <button class="login-btn">Login</button>
    </nav>
  </header>
  <div class="starter-cont">
    <div class="left">
      <h2>Inventory & Stock <br> Management <br> Solution</h2>
      <h5>Inventory system to control and manage a product in the<br>
        warehouse in real-time and integrated to make it easier to<br>
        develop your business</h5>
    </div>
    <div class="right">
      <img src="/assets/InventoryManagement_Hero@3x.png">
    </div>
  </div>
</main>
