.error-cont{
  position: absolute;
  right: 20px;
  top: 20px;
}
form{
  padding: 30px;
  width: 50vw;
  border-radius: 8px;
  background-color: #504533;
  box-shadow: 14px 10px 23px 0px rgba(0,0,0,0.75);
  display: flex;
  flex-direction: column;
  align-items: center;
  h2{
    color: #ffff;
    margin-bottom: 10px;
  }
  i{
    font-size: 50px;
    color: #0f6ebd;
    margin-bottom: 15px;
  }
  input{
    background-color: #a7f6e0;
  }
  div{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    width: 80%;
    label{
      color: #ffff;
    }
  }
}
@media screen and (max-width: 720px) {
  form{
    width: 80vw;
  }
}
