<div class="error-cont">
  <p-messages></p-messages>
</div>
<form method="post">
  <i class="fa-solid fa-lock"></i>
  <h2>Forget Password</h2>
  <div class="field">
    <label for="email" class="block">Email</label>
    <input [formControl]="emailField" id="email" type="email" placeholder="example@mail.com" pInputText />
    <small *ngIf="emailField?.errors && emailField.touched" class="p-error block">Email is not available.</small>
  </div>
  <p-button [disabled]="emailField.invalid" (click)="emailField.invalid ||onClick()" label="Submit" icon="pi pi-check" iconPos="right"></p-button>
</form>
